body{ 
    background-color: #f4f4f4;
    color: #555555;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.2em;
    margin: 0;
}
.container{
    width: 90%;
    margin: auto;
    
}
.container h1{
    text-align: center;
    font-style: italic;
    letter-spacing: 0.5em;
    text-decoration: underline;
    
}
.block1{
    display: grid;
    grid-template-columns: auto auto auto;
}

.post{
    margin-top: 20px;
}
.post_pic{
    width: 80%;
    height: 250px;
border-radius: 20px;}
    

a{
    text-decoration: none;
    color: rgb(13, 13, 14);
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;

}
a:hover{
    color:rgb(71, 71, 71);
    }

#blogp1{
    background-image: url('images/blogBG.JPG');
    min-height: 200px;
}
#blogp2{
    background-image: url('images/blogBG2.JPG');
    min-height: 200px;
}
#blogp1, #blogp2{
    position: relative;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;}
@media screen and (max-width: 750px){
        .block1{
            display: block;
        }


#mainp{
        float: left;
        width: 70%;
        margin-top: 30px;
        background-color:thistle;
        padding-left: 5px;
        box-sizing: border-box;
    }
 

.footer{
    text-align: center;
    
}}
@media screen and (max-width: 750px){
    #mainp{
        float:none;
        display: block;
        width: 100%;
        padding-bottom: 10px;
    }
}