img.floatleft{
    float: left;
    margin: 10px;
}
p{
    font-size: 18px;
}

.addons li{
    background-color: rgb(2, 15, 15);
    color: white;
    font-weight: 100;
    border-radius: 10px;
    padding: 8px;
    display: inline;}
.plain_list{
    font-size: 18px;
}