
#ALL a{
    color: rgb(8, 109, 99);
} 
#ALL a:hover{
    color: rgb(36, 32, 32);
}        
.work{
    float: left;
    width: 70%;
    margin-top:30px;
     box-sizing: border-box;}
.work p{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif ;}
.work2{
        float: right;
        width: 70%;
        margin-top:30px;
        padding-left: 10px;
     box-sizing: border-box;}
.work2 p{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif ;}
#pic1{  top: 25px;
        float: right;
        width: 30%;
        height: 300px;
        margin-top: 30px;
        background-image: url(images/port1.PNG);
        background-repeat: no-repeat;
     }
#pic2{
        float: left;
        width: 30%;
        height: 300px;
        margin-top: 30px;
        background-image: url(images/port2.PNG);
        background-repeat: no-repeat;
        }
#pic3{
        float: right;
        width: 30%;
        height: 300px;
        margin-top: 30px;
        background-image: url(images/port3.PNG);
        background-repeat: no-repeat;}
#pic4{
        float: left;
        width: 30%;
        height: 300px;
        margin-top: 30px;
        background-image: url(images/port4.PNG);
        background-repeat: no-repeat;}
#pic5{
        float: right;
        width: 30%;
        height: 300px;
        margin-top: 30px;
        background-image: url(images/home2.PNG); 
        background-repeat: no-repeat;}
@media screen and (max-width: 750px){
   .work, .work2{ float: none;
     width: 100%;}
    #pic1, #pic2, #pic3, #pic4, #pic5{
            float: none;
            width: 100%;
    }    
}                        