
#ALL a{
    color: rgb(8, 109, 99);
} 
#ALL a:hover{
    color: rgb(36, 32, 32);
}        
.work{
    float: left;
    width: 70%;
    margin-top:30px;
    box-sizing: border-box;}
.work:hover{
        background-color: rgb(228, 225, 225);
        border: 3px solid rgb(46, 45, 45);
        border-radius: 4px;
        padding: 5px;
}    
.work p{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif ;
}
.work2{
        float: right;
        width: 70%;
        border: rgb(46, 45, 45) 3px;
        margin-top:30px;
        padding-left: 10px;
        box-sizing: border-box;}
.work2:hover{
                background-color: rgb(228, 225, 225);
                border: 3px solid rgb(46, 45, 45);
                border-radius: 4px;
                padding: 5px;
        }   
.work2 p{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif ;}
#pic1{  top: 25px;
        float: right;
        width: 25%;
        height: 300px;
        margin-top: 30px;
        
        box-sizing: border-box;
        background-image: url(images/app3.JPG);
        background-repeat: no-repeat;
        border-radius: 50%;
        box-shadow: 10px 10px 20px grey;
        
        
     }
#pic2{
        float: left;
        width: 25%;
        height: 300px;
        margin-top: 30px;
        background-image: url(images/app4.JPG);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        box-shadow: 10px 10px 20px grey;
        }
#pic3{
        float: right;
        width: 25%;
        height: 300px;
        margin-top: 30px;
        background-image: url(images/app5.JPG);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        box-shadow: 10px 10px 20px grey;}
#pic4{
        float: left;
        width: 25%;
        height: 300px;
        margin-top: 30px;
        background-image: url(images/app1.JPG);
        background-repeat: no-repeat;
        border-radius: 50%;
        background-size: cover;
        box-shadow: 10px 10px 20px grey;
}
#pic5{
        float: right;
        width: 25%;
        height: 300px;
        margin-top: 30px;
        background-image: url(images/app2.JPG); 
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        box-shadow: 10px 10px 20px grey;
}
@media screen and (max-width: 750px){
   .work, .work2{ float: none;
     width: 100%;}
    #pic1, #pic2, #pic3, #pic4, #pic5{
            float: none;
            width: 100%;
    }    
}                        